<%= error_messages_for 'investigator' %>

<div id="person_entry">
	
	<table class="person">
		<tr>
			<th>FoxNetID*</th>
			<td>
				<%- if controller.action_name =~ /new|create/ -%>
					<%= text_field :investigator, :username, { :size => 15, :maxlength => 17 } %>
					<%= submit_tag "Search" %>
				<% else %>
					<%= text_field :investigator, :username, { :size => 15, :maxlength => 17, :disabled => true } %>				
				<% end %>
			</td>
		</tr>
		
		<tr>
			<th>Name*</th>
			<td>
				<div style="display: inline; float: left;">
				<%= text_field :investigator, :first_name, { :size => 15, }%>
				<label style="margin-left: .5em; display: block; font-size: 77%;">First</label>
				</div>
				<div style="display: inline; float: left;">
				<%= text_field :investigator, :middle_name, { :size => 2, :maxlength => 1 } %>
				<label style="margin-left: .5em; display: block; font-size: 77%;">Mid</label>
				</div>
				<div style="display: inline; float: left;">
				<%= text_field :investigator, :last_name,  { :size => 15 } %>
				<label style="margin-left: .5em; display: block; font-size: 77%;">Last</label>
				</div>
			</td>
		</tr>
		
		<tr>
			<th>Email</th>
			<td>
			<%= text_field :investigator, :email %>
			</td>
		</tr>
		<tr>
			<th>Program</th>
			<td>
				<select name="programs[]" multiple="multiple" size="8" style="width: 100%;">
					<%= options_for_select(@programs.collect { |p| [ p.program_title, p.id ]},
					@investigator.programs.collect { |p| p.id }) %>
				</select>
			</td>
		</tr>
		
		<tr>
			<th>Alternate PubMed Search Name</th>
			<td>
			<%= text_field :investigator, :pubmed_search_name %>
			</td>
		</tr>
	
	</table>

</div>

<div id="buttons" style="margin-top: 1em;">
	<%- if controller.action_name =~ /new|create/ -%>
		<%= submit_tag "Add" %>
	<%- else -%>
		<%= submit_tag "Modify" %>
	<% end %>
	<%= submit_tag "Cancel" %>
</div>

<%= javascript_tag "$('investigator_username').focus()" %>

